<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" bootstrap="tests/bootstrap.php" colors="true" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd">
  <filter>
    <whitelist>
      <directory suffix=".php">src/</directory>
      <exclude>
        <directory>./tests</directory>
        <directory>./vendor</directory>
      </exclude>
    </whitelist>
  </filter>
  <testsuites>
    <testsuite name="API Anaf Tests Suite">
      <directory>./tests/</directory>
    </testsuite>
  </testsuites>
</phpunit>
